{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load staticfiles %}


{% block title %}
    Control Questions - High Piece Rate
{% endblock %}

{% block styles %}
    <link href="{% static "Tullock_Income_Intro/css/Belief.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<hr>
    <div class="card bg-light instructions">
    <div class="card-body">
       To make sure that you have understood the instructions, please answer the questions below.
        <br>
        Remember:<p>
                Per correctly solved sequence you will get {{ Constants.tokensper_string_high }} Tokens.
    <br>
        In the <strong> switch mode </strong> you will get 0.1 Tokens per second ( = 1 Token per {{ Constants.secondsper_token }} seconds).
    </p>
        You can only proceed if you answer all questions correctly.<br>
    </div>
    </div>

<div class="card">
       <div class="card-header bg-default mb-3">
        <h5>Earnings Check</h5>
        </div>
  <div class="card-body">

      <table class="table">
  <thead>
  <tr>
    <th class="tg-s6z2">Amount (Sequences)</th>
    <th class="tg-s6z2">Time (sec)</th>
    <th class="tg-s6z2">Activity</th>
    <th class="tg-s6z2">Earnings (Token)</th>
  </thead>
  </tr>
  <tr>
    <td class="tg-s6z2">24</td>
    <td class="tg-s6z2">140</td>
    <td class="tg-s6z2">Letter Count</td>
    <td class="tg-s6z2">
        <div class="form-group">
        <input type="number" class="form-control" name="solution_6" id="solution_6" oninput="doMath()" onclick="this.select()" value="0">
            <small id="error_6" class="form-text text-danger"> {{ form.solution_6.errors }} </small>
        </div>
    </td>
  </tr>
  <tr>
    <td class="tg-s6z2"></td>
    <td class="tg-s6z2">40</td>
    <td class="tg-s6z2">"Switch Mode"</td>
    <td class="tg-s6z2">
        <div class="form-group">
        <input type="number" class="form-control" name="solution_7" id="solution_7" oninput="doMath()" onclick="this.select()" value="0">
            <small id="error_7" class="form-text text-danger"> {{ form.solution_7.errors }} </small>
        </div>
    </td>
  </tr>
  <tfoot>
  <tr>
    <td class="tg-s6z2"><strong>Total</strong></td>
    <td class="tg-s6z2">180</td>
    <td class="tg-s6z2"></td>
    <td class="tg-s6z2">
        <div id="sum_sols">
            0
        </div>
    </td>
  </tr>
  </tfoot>
</table>

</div>

</div>

    <br>

</div>
<br><div class="card">
       <div class="card-header bg-default mb-3">
           <h5> Switch Check</h5>
        </div>
  <div class="card-body">

        <p>The following table lists how much time three fictional participants needed to solve nine consecutive sequences.
        Please select for each participant the sequence after which she/he should have stopped solving sequences and
            changed to the "switch mode" if she/he was interested in maximizing
        her/his <strong>total</strong> earnings in that round.
        </p>
        <br>
      <hr>
      <br>


        <table class="table table-striped">
            <tr>
            <th>Sequence</th>
                <th style="text-align:right"> Time Needed by <br> Participant "X" <br> (sec)</th>
                <th style="text-align:right"> Time Needed by <br> Participant "Y" <br> (sec)</th>
                <th style="text-align:right"> Time Needed by <br> Participant "Z" <br> (sec)</th>
            </tr>
            <td>||||</td>
            <td style="text-align:right">8  <label class="btn btn-default active btn-sm"><input type="radio" name="solution_8" autocomplete="off" value="8"></label></td>
            <td style="text-align:right">3  <label class="btn btn-default active btn-sm"><input type="radio" name="solution_9" autocomplete="off" value="3"></label></td>
            <td style="text-align:right">10  <label class="btn btn-default active btn-sm"><input type="radio" name="solution_10" autocomplete="off" value="10"></label></td>
            <tr>
            <td>||||||||</td>
            <td style="text-align:right">12 <label class="btn btn-default active btn-sm"><input type="radio" name="solution_8"  autocomplete="off" value="12"></label></td>
            <td style="text-align:right">6 <label class="btn btn-default active btn-sm"><input type="radio" name="solution_9"  autocomplete="off" value="6"></label></td>
            <td style="text-align:right">16 <label class="btn btn-default active btn-sm"><input type="radio" name="solution_10" autocomplete="off" value="16"></label></td>
            </tr>
            <tr>
            <td>||||||||||||</td>
            <td style="text-align:right">16  <label class="btn btn-default active btn-sm"><input type="radio" name="solution_8"  autocomplete="off" value="16"></label></td>
            <td style="text-align:right">10  <label class="btn btn-default active btn-sm"><input type="radio" name="solution_9"  autocomplete="off" value="10"></label></td>
            <td style="text-align:right">20  <label class="btn btn-default active btn-sm"><input type="radio" name="solution_10" autocomplete="off" value="20"></label></td>
            </tr>
            <tr>
            <td>||||||||||||||||</td>
            <td style="text-align:right">16  <label class="btn btn-default active btn-sm"><input type="radio" name="solution_8" autocomplete="off" value="16"></label></td>
            <td style="text-align:right">14  <label class="btn btn-default active btn-sm"><input type="radio" name="solution_9" autocomplete="off" value="14"></label></td>
            <td style="text-align:right">22  <label class="btn btn-default active btn-sm"><input type="radio" name="solution_10" autocomplete="off" value="22"></label></td>
            </tr>
            <tr>
            <td>||||||||||||||||||||</td>
            <td style="text-align:right">19  <label class="btn btn-default active btn-sm"><input type="radio" name="solution_8" autocomplete="off" value="19"></label></td>
            <td style="text-align:right">17  <label class="btn btn-default active btn-sm"><input type="radio" name="solution_9" autocomplete="off" value="17"></label></td>
            <td style="text-align:right">22  <label class="btn btn-default active btn-sm"><input type="radio" name="solution_10" autocomplete="off" value="22"></label></td>
            </tr>
            <tr>
            <td>||||||||||||||||||||||||</td>
            <td style="text-align:right">18 <label class="btn btn-default active btn-sm"><input type="radio" name="solution_8" autocomplete="off" value="18"></label></td>
            <td style="text-align:right">20 <label class="btn btn-default active btn-sm"><input type="radio" name="solution_9" autocomplete="off" value="20"></label></td>
            <td style="text-align:right">30 <label class="btn btn-default active btn-sm"><input type="radio" name="solution_10" autocomplete="off" value="30"></label></td>
            </tr>
            <tr>
            <td>||||||||||||||||||||||||||||||||</td>
            <td style="text-align:right">19  <label class="btn btn-default active btn-sm"><input type="radio" name="solution_8" autocomplete="off" value="19"></label></td>
            <td style="text-align:right">26  <label class="btn btn-default active btn-sm"><input type="radio" name="solution_9" autocomplete="off" value="26"></label></td>
            <td style="text-align:right">32  <label class="btn btn-default active btn-sm"><input type="radio" name="solution_10" autocomplete="off" value="32"></label></td>
            </tr>
            <tr>
            <td>||||||||||||||||||||||||||||||||||||</td>
            <td style="text-align:right">20  <label class="btn btn-default active btn-sm"><input type="radio" name="solution_8" autocomplete="off" value="20"></label></td>
            <td style="text-align:right">31  <label class="btn btn-default active btn-sm"><input type="radio" name="solution_9" autocomplete="off" value="31"></label></td>
            <td style="text-align:right">37  <label class="btn btn-default active btn-sm"><input type="radio" name="solution_10" autocomplete="off" value="37"></label></td>
            </tr>
            <tr>
            <td>||||||||||||||||||||||||||||||||||||||||</td>
            <td style="text-align:right">22  <label class="btn btn-default active btn-sm"><input type="radio" name="solution_8" autocomplete="off" value="22"></label> <small id="error_8" class="form-text text-danger"> {{ form.solution_8.errors }} </small></td>
            <td style="text-align:right">33  <label class="btn btn-default active btn-sm"><input type="radio" name="solution_9" autocomplete="off" value="33"></label> <small id="error_9" class="form-text text-danger"> {{ form.solution_9.errors }} </small></td>
            <td style="text-align:right">39  <label class="btn btn-default active btn-sm"><input type="radio" name="solution_10" autocomplete="off" value="39"></label> <small id="error_10" class="form-text text-danger"> {{ form.solution_10.errors }} </small></td>
            </tr>
        </table>

  </div>

</div>



    <br>

    {% next_button %}

{% endblock %}


{% block scripts %}

    <script type="text/javascript">
    function doMath()
    {
        // Capture the entered values of two input boxes
        var solution_6 = document.getElementById('solution_6').value;
        var solution_7 = document.getElementById('solution_7').value;

        // Add them together and display
        var sum_sols = (parseInt(solution_6) || 0) + (parseInt(solution_7) || 0);
        document.getElementById("sum_sols").innerHTML = sum_sols;
    }
    </script>

{% endblock %}