{% load otree staticfiles %}

<div class="card">
    <div class="card-header bg-default mb-3"> Instructions </div>
    <div class="card-body">
    <p>
        Your task is to count how many <strong> "a" </strong>s there are in the sequence of characters currently displayed.
    </p>
    <p>
        {% if Constants.treatment and subsession.round_number == 2 %}
            Per correctly solved sequence you will get <strong>{{ Constants.effective_taxed_tokensper_string|floatformat:1 }}
            Tokens</strong>.
            {% elif Constants.treatment == False and subsession.round_number == 2 %}
            Per correctly solved sequence you will get <strong>{{ Constants.tokensper_string_high|floatformat:1 }}
            Tokens</strong>.
            {% elif subsession.round_number == 3 %}
            Per correctly solved sequence you will get <strong>{{ Constants.tokensper_string_high|floatformat:1 }}
            Tokens</strong>.
            {% elif subsession.round_number == 4 %}
            Per correctly solved sequence you will get <strong>{{ Constants.effective_taxed_tokensper_string_high }}
            Tokens</strong>.
            {% else %}
        Per correctly solved sequence you will get <strong>{{ Constants.tokensper_string }} Token</strong>.
        {% endif %}
        In the <strong> switch mode </strong> you will get 0.1 Tokens per second ( = 1 Token per {{ Constants.secondsper_token }} seconds).
    </p>
    <p>
        <strong>This round lasts {{ Constants.time_in_minutes|floatformat:0 }} Minutes.</strong>
    </p>
    </div>
</div>
