{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Introduction
{% endblock %}

{% block content %}
<hr>
<div class="card bg-light instructions">
    <div class="card-body">
     <p>
        Thank you for taking part in this experiment.</p>
    <p>
        Please read the instructions carefully. They are identical for all participants.<br>
        You are not allowed to communicate with other participants during the experiment.
        Using the cell phone is also prohibited. Please switch it off.
    </p>
        <p>
        Your decisions and results will be absolutely anonymous.
        Your identity will neither be revealed to your co-participants nor to the experimenters at any time during or after the experiment.
        </p>
    <p>
        In case anything is unclear, please raise your hand. We will come to your desk and answer your questions in private.<br>
    </p>
    <p>
        You will earn money during this experiment and you will receive your earnings in cash immediately after
        this session. How much money you earn depends on the actions you and the other participants take.</p>
    <p>
        In this session, you will be asked to perform a task. The next pages will give you further instructions.
        At every stage, make sure you only proceed when you have understood the instructions.
        You will not be able to go back.</p>
        <br>
        Do you have any questions?
    </div>
</div>


    <br>
    <br>
{% endblock %}
