{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load staticfiles %}


{% block title %}
    Investment Beliefs Round {{ subsession.round_number }} of {{ Constants.num_rounds}}
{% endblock %}

{% block styles %}
    <link href="{% static "Tullock_Income_RET/css/Belief.css" %}" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <style>
    .fa-star {
    color: #ffbb33;
    font-size: 0.7em;
}
    </style>

{% endblock %}

{% block content %}
<hr>
   <div class="card bg-light instructions">
   <div class="card-body">
       <h5>Please answer the following questions:</h5>
    <br>
    <br>
    <ol type="1"> <!-- This starts a numbered list -->


    <li> How much do you think will player {{ player.get_others_in_group.0.role }} {% if subsession.round_number > 1  %} {% if winner_last_0 %} <sup><i class="fas fa-star"></i></sup> {% endif %} {% endif %}<strong>invest</strong> in the present round (Round {{ subsession.round_number }} of {{ Constants.num_rounds}})
        to obtain the high piece rate <br> in the <strong>next</strong> round ({{ subsession.round_number|add:"1" }} of {{ Constants.num_rounds}})?:
       {% formfield player.investment_belief_0 label="" %} </li>

    <li> How much do you think will player {{ player.get_others_in_group.1.role }} {% if subsession.round_number > 1  %} {% if winner_last_1 %} <sup><i class="fas fa-star"></i></sup> {% endif %} {% endif %}<strong>invest</strong> in the present round (Round {{ subsession.round_number }} of {{ Constants.num_rounds}})
        to obtain the high piece rate <br> in the <strong>next</strong> round ({{ subsession.round_number|add:"1" }} of {{ Constants.num_rounds}})?:
       {% formfield player.investment_belief_1 label="" %} </li>

</ol>
<br>
   {% if subsession.round_number > 1  %}
<hr>
       {% if winner_last %}

           The other players have a piece rate of 1 Token per sequence

           {% else %}

    (<sup><i class="fas fa-star"></i></sup>) denotes the player with the high piece rate in this round

           {% endif %}
    {% endif %}
<br>

   </div>
   </div>

<br>
    {% next_button %}

{% endblock %}