{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Final Section
{% endblock %}

{% block content %}
<hr>

    <div class="jumbotron">
    <h1 class="display-1 text-center">Final Questions</h1>
    <br>
    <br>

        <p class="text-center">
            In the next section of this experiment we will ask you some short questions. Please press <strong>next</strong> to proceed.
        </p>
        <br>
        <br>
        <br>
    <p class="text-center">
    <button class="btn btn-primary">Next</button>
    </p>
    </div>

{% endblock %}
